VCO/VCO_555/VCO_555-backups
VCF/VCF/VCF-backups
VCA/VCA/VCA-backups
Sequencer/10Step_Sequencer/10Step_Sequencer-backups
Output/Output_mixer/Output_mixer-backups
Envelop_Generator/Envelop_Generator/Envelop_Generator-backups
Dual_Power_Supply/12V-DualPowerSupply/Symetric12VPS-backups